<%= link_to 'Editar perfil', edit_user_registration_path %>

<h1>Perfil de usuário</h1>

<dl>
  <dt><h4>Nome completo</h4></dt>
  <dd><%= @user.complete_name %></dd>
  <dt><h4>CPF</h4></dt>
  <dd><%= @user.cpf %></dd>
  <dt><h4>Telefone</h4></dt>
  <dd><%= @user.phone_number %></dd>
  <dt><h4>Biografia</h4></dt>
  <dd><%= @user.biography %></dd>
</dl>


  


