<% if @vacancies.empty? %>
  <div class='warning'>Nenhuma vaga cadastrada!</div>
<% else %>
  <% @vacancies.each do |vacancy| %>
    <dl>
      <dt><h4>Empresa</h4></dt>
      <dd><%= link_to vacancy.company, vacancy %></dd>
      <dt><h4>Cargo</h4></dt>
      <dd><%= vacancy.role %></dd>
    </dl>
    <ul>
      <li><%= link_to 'Editar', edit_vacancy_path(vacancy) %></li>
      <li><%= link_to 'Deletar', vacancy_path(vacancy), method: :delete, data: { confirm: "Tem certeza que deseja deletar a vaga?" } %></li>
    </ul>
    <hr>
  <% end %>
<% end %>

<%= link_to 'Cadastrar nova vaga', new_vacancy_path %>
<%= link_to 'Voltar', root_path%>