<% if @vacancies.empty? %>
  <div class='warning'>Nenhuma vaga cadastrada!</div>
<% else %>
  <% @vacancies.each do |vacancy| %>
    <dl>
      <dt><h4>Empresa</h4></dt>
      <dd><%= link_to vacancy.company.company_name, vacancy %></dd>
      <dt><h4>Cargo</h4></dt>
      <dd><%= vacancy.role %></dd>
      <% if user_signed_in? && @user.Admin? %> 
        <dd>Número de candidaturas: <%= vacancy.candidature.count %></dd>
      <% end %>
    </dl>
    <hr>
    
</dl>  
  <% end %>
<% end %>

<%= link_to 'Cadastrar nova vaga', new_vacancy_path %>
<%= link_to 'Voltar', root_path%>
