<h1>Vaga de <%= @vacancy.role %> em <%= @vacancy.company %></h1>

<dl>
  <dt><h4>Descrição</h4></dt>
  <dd><%= @vacancy.description %></dd>
  <dt><h4>Requisitos</h4></dt>
  <dd><%= @vacancy.requirements %></dd>
  <dt><h4>Localização</h4></dt>
  <dd><%= @vacancy.localization %></dd>
  <dt><h4>Data de Expiração</h4></dt>
  <dd><%= @vacancy.expiration_date.strftime("%d/%m/%Y") %></dd>
</dl>

<%= link_to 'Voltar', vacancies_path %>

    