<ul>
      <li><%= link_to 'Editar', edit_vacancy_path(@vacancy) %></li>
      <li><%= link_to 'Deletar', vacancy_path(@vacancy), method: :delete, data: { confirm: "Tem certeza que deseja deletar a vaga?" } %></li>
</ul>

<h1>Vaga de <%= @vacancy.role %> em <%= @vacancy.company.company_name %></h1>

<dl>
  <dt><h4>Descrição</h4></dt>
  <dd><%= @vacancy.description %></dd>
  <dt><h4>Requisitos</h4></dt>
  <dd><%= @vacancy.requirements %></dd>
  <dt><h4>Localização</h4></dt>
  <dd><%= @vacancy.localization %></dd>
  <dt><h4>Data de Expiração</h4></dt> 
  <dd><%= I18n.localize @vacancy.expiration_date %></dd>
  
  <% if @visible %>
    <%= form_with model: @candidature, url: candidatures_path  do |f| %>
        <%= f.hidden_field :vacancy_id, value: @vacancy.id %>
        <%= f.submit 'Candidatar' %>
    <% end %>
  <% end %>


  <% if user_signed_in? %>  
    <% unless @user.company_id.nil? %>
      <%= link_to 'Candidaturas', candidature_path(@vacancy.id) %></dd>
    <% end %>
  <% end %>
  <%= link_to 'Voltar', vacancies_path %>
</dl>