<h1>Candidaturas</h1>

<% if @candidature.empty? %>
  <td>Nenhuma candidatura recebida até o momento.</td>
  <br>
  <br>
<% else %>
  <% @candidature.each do |c| %>
    <table>
      <tr>
        <td><b>Nome completo:</b></td>
        <td><%= c.user.complete_name %></td>
      </tr>
      <tr>
        <td><b>CPF:</b></td>
        <td><%= c.user.cpf %></td>
      </tr>
      <tr>
        <td><b>Telefone:</b></td>
        <td><%= c.user.phone_number %></td>
      </tr>
      <tr>
        <td><b>Biografia:</b></td>
        <td><%= c.user.phone_number %></td>
      </tr>

      <% if c.status == 'pendent' %>
        <tr>
          <td><%= link_to 'Aceitar candidatura', new_candidature_approvals_path(c.id) %></td>
          <td><%= link_to 'Recusar candidatura', new_candidature_denials_path(c.id) %></td>
        </tr>
      <% else %>
        <tr>
          <td><b>Status:</b></td>
          <td><%= c.status %></td>
        </tr>
      <% end %>
    </table>
    
    
    <hr>
  <% end %>
<% end %>

<%= link_to 'Voltar', vacancy_path(@vacancy_id) %>