<% if user_signed_in? %>
    <%= link_to 'Perfil', user_path %>
<% end %>

<%= link_to 'Cadastrar empresa', new_company_path%>

<h1>VagasRH</h1>
<h3> Bem vindo ao maior site de vagas de emprego do Brasil! </h3>

<%= form_with url: search_path, method: :get do %>
  <%= label_tag :q, 'Busca:' %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Pesquisar' %>
<% end %>

<%= link_to 'Vagas', vacancies_path%>

<%= link_to 'Para empresas'%>
