<dl>
  <dt><h4>Empresa</h4></dd>
  <dt><h4><%= @company.company_name %>  </h4></dd>
  <dt><h4>Cidade</h4></dt>
  <dd><%= @company.city %></dd>
  <dt><h4>Endereço</h4></dt>
  <dd><%= @company.address %></dd>
  <dt><h4>Bairro</h4></dt>
  <dd><%= @company.district %></dd>
  <dt><h4>CNPJ</h4></dt>
  <dd><%= @company.cnpj %></dd>
  <dt><h4>Site</h4></dt> 
  <dd><%= @company.site %></dd>
</dl>